<html>
<head>
    <title>
      SIGNIFIYA REGISTRATION FORM
    </title>
</head>
<body>
<center>
<a href="/display">VIEW DATA</a>
<img src="https://adamasuniversity.ac.in/wp-content/uploads/2025/03/Signifiya-2025-768x384.jpg" alt='Signifiya-2025'>
<form action="/send" method="POST">
    <label>
        <input type="text" name="name" placeholder="Enter your name">
    </label>
    <label>
        <input type="text" name="reg" placeholder="Enter your registration number">
    </label>
    <label>
        <input type="text" name="programme" placeholder="Enter your programme">
    </label>
    <input type="submit" value="Submit">
</form>
</center>
</body>
</html>